<!--
        Slider start
        ============================== -->
<!--image slider here-->

<!-- slider close -->
<!--
about-us start
============================== -->

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block" style="text-align:right;">
                    <!--<h2 class="heading2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" style="text-align:right;">
                        <span>لماذا الموقع</span>
                    </h2>-->

                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">

                        أنشأ موقع معجم لسان ظفار؛ لبيان مسائل هامة لم يتسع المعجم لبيان تفاصيلها ولزيادة الفائدة واستكمالا لمشروع المعجم؛ الذي هدف لتوثيق أكبر قدر من الموضوعات حول اللغة الجبالية. وقد حوا الموقع العديد من الموضوعات ذات الصلة من أهمها :
                    </p>
                    <ul class="dlst" style="list-style:none;padding:0;margin:0">
                        <li>
                            وصف ونطق حروف الجبالية بشكل صحيح؛ فبالرغم من أنني وصفت نطق هذه الحرف كتابة في الدراسة التمهيدية للمعجم إلا أني وجدت صعوبة في وصف نطق بعضها. فرأيت أن تسجيها وبثها صوتيا في الموقع أسهل وأنفع.

                        </li>
                        <li>
                            ملاحظات عامة على كل حرف من حروف هذه اللغة، وإيراد عدد من كلماتها مسجلة صوتيا؛ سواء التي تبدأ بالحرف، أو تحوي الحرف المقصود.

                        </li>
                        <li>
                            بيان أهمية الحركات (الضمة والفتحة والكسرة ...) في نطق الكلمة بصورة صحيحة، وقد أوردت في الموقع أمثلة صوتية مختصرة على ذلك.

                        </li>
                        <li>
                            أيراد بعض المواد السمعية والبصرية الخاصة بهذه اللغة
                        </li>
                    </ul>

                    <p>
                        كانت خطتي عند تخطيطي للشروع في بناء هذا المعجم؛ أن أرفق به قرصا مرنا ( cd )؛ أسجل عليه بعض المسائل الهامة؛ كالتي ذكرتها أعلاه، وبعد أن جهزت مادة القرص عدلت عن فكرة القرص واستبدلتها بهذا الموقع وذلك لتحقيق أكبر قدر من الفائدة والانتشار، ولتطوير الموضوع قدر الحاجة.

                    </p>

                    <!--<a class="btn btn-default btn-auth wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>-->
                </div>
            </div><!-- .col-md-12 close -->
            <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card hovercard">
                                <div class="cardheader">
                                </div>
                                <div class="avatar">
                                    <img alt="" src="spa/client/public/images/author2.png">
                                </div>
                                <div class="info">
                                    <div class="title">
                                        <h2>هذا المعجم </h2>
                                    </div>
                                    <div class="desc">معجم لسان ظفار أول معجم يوضع للغة الجبالية ولم يسبقه سوى معجم يتيم، وضعه البروفسور جنستون في بدايات ثمانينيات القرن الماضي باللغة الانجليزية لا يعلم بوجوده إلا قلة قليلة من أهل الاختصاص. </div>
                                    <!--<div class="desc">
                                        والمعجم الذي بين يدينا ثمرة سنوات من العمل الشاق المتواصل، قادني لإنجازه ونشره الحاجة الماسة إليه؛ سواء من جمهور العامة، أو من الباحثين والدارسين والمهتمين، وقبل هؤلاء وأولئك أبناء هذه اللغة أنفسهم، الذين تقطعت بأجيالهم الجديدة السُبل في معرفة بناء مفرداتها، وفهم الكثير من كلماتها؛ لتعريب ألم بألسنتهم، وتغريب غازٍ يحاول طمس لغتهم وبلبُلة لسانهم.
                                    </div>-->
                                </div>
                                <div class="bottom">
                                    <a ui-sref="dic"><< المزيد</a>
                                    <!--<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" rel="publisher"
                                       href="https://plus.google.com/+ahmshahnuralam">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm" rel="publisher"
                                       href="https://plus.google.com/shahnuralam">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                                        <i class="fa fa-behance"></i>
                                    </a>-->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div><!-- .containe close -->
    </div>
</section><!-- #call-to-action close -->
<!--
blog start
============================ -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading">مستخلصات من  <span>المعجم</span></h1>
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                            <div class="blog-img">
                                <img src="spa/client/public/images/blog/blog-img-1.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>أدوات الاستفهام في الجبالية</h3>
                                <p>سنستعرض في هذه الفقرة التعريف بأدوات الاستفهام في اللغة الجبالية....</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                            <div class="blog-img">
                                <img src="spa/client/public/images/blog/blog-img-2.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>أسماء الإشارة في الجبالية</h3>
                                <p>في هذا الفصل سنذكر أسماءالإشارة للمثنى القريب المذكر والمؤنث...</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                            <div class="content-left">
                                <h3>الأفعال في الجبالية</h3>
                                <p>سنستعرض في هذا المقطع الافعال في اللغة الجبالية. وسنكتف ببعض الأمثلة السريعة...</p>
                            </div>
                            <div class="blog-img-2">
                                <img src="spa/client/public/images/blog/blog-img-3.jpg" alt="blog-img">
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                            <div class="content-left">
                                <h3>الالوان في الجبالية</h3>
                                <p>قليلة هي مسميات الألوان في الجبالية القديمة، أما في وقتنا الحاضر فقد اختلطت...</p>
                            </div>
                            <div class="blog-img-2">
                                <img src="spa/client/public/images/blog/blog-img-4.jpg" alt="blog-img">
                            </div>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                            <div class="blog-img">
                                <img src="spa/client/public/images/blog/blog-img-5.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>الزمن والوقت والتوقيت</h3>
                                <p>سنتتبع في هذا المقطع بإذن الله الكلمات الدالة على الزمن والوقت  في اللغة الجبالية ...</p>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                            <div class="blog-img">
                                <img src="spa/client/public/images/blog/blog-img-6.jpg" alt="blog-img">
                            </div>
                            <div class="content-right">
                                <h3>الضمائر</h3>
                                <p>سنتحدث عن موضوع لغوي هام في اللغة الجبالية وهو موضوع الضمائر...</p>
                            </div>
                        </li>
                    </ul>
                    <a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #blog close -->
<!--
price start
============================ -->
<section id="price">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms"><span>متابعات</span>  <span></span></h1>

                    <div class="pricing-list">
                        <div class="title">
                            <h3>القائمة <span>الرئيسية</span></h3>
                        </div>
                        <ul>
                            <li ng-repeat="ns in lstNewsHome" class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>{{ns.post_title}}</h2>
                                        <div class="border-bottom"></div>
                                        <span>18-19 إبريل 2017</span>
                                    </div>
                                    <p>
                                        ضمن  فعاليات الحملة الوطنية للحماية من الإبتزار الإلكتروني " معاً ضد الإبتزار الإلكتروني"  م
                                    </p>
                                </div>
                                
                         
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>حملة أحذر تأمن</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        تدشين  حملة وعي بأمن المعلومات الذي تنفذها قسم تقنية المعلومات بمحافظة الوسطى التعليمية تحت شعار
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        برنامج الحملة الوطنية للحماية من الابتزاز الإلكتروني في مرحلتها قبل الأخيرة بولاية هيماء
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>10 إبريل 2017</span>
                                    </div>
                                    <p>
                                        تستكمل الحملة الوطنية للحماية من الابتزاز الإلكتروني مسيرتها في محافظة الوسطى بولاية هيماء .
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="700ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الحملة الوطنية للحماية من الإبتزار الإلكتروني</h2>
                                        <div class="border-bottom"></div>
                                        <span>5 إبريل 2017</span>
                                    </div>
                                    <p>
                                        شكرا بكل الكلمات لإدارة مدرسة البندر الجديد على حفاوة الضيافة والاستقبال لتقديم محاضرات حول الابتزاز الإلكتروني في ولاية جعلان بني بو علي
                                    </p>
                                </div>
                            </li>
                            <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                                <div class="item">
                                    <div class="item-title">
                                        <h2>الخصوصية في هاتفك لحمايتك وحماية بياناتك ومعلوماتك</h2>
                                        <div class="border-bottom"></div>
                                        <span>7 مارس 2017</span>
                                    </div>
                                    <p>
                                        من المهم ضبط إعدادات الخصوصية في هاتفك لحمايتك وحماية بياناتك ومعلوماتك عند استخدامك لوسائل الإعلام الإجتماعي
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-default pull-right wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">المزيد من المعلومات</a>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section>
<!-- #price close -->
<!--
letters start
============================ -->
<section id="letters">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <span>حروف الجبالية</span> :
                    </h1>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        اختلف الباحثون في عدد حروف الهجاء الجبالية ومن أهم آرائهم:
                    </p>
                    <div class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" style="margin-left:auto;margin-right:auto; width:400px; text-align:right;">
                        <ul class="lang-letters">
                            <li> أن الجبالية تحتوي 28 حرفا </li>
                            <li>ويرى آخرون أنها تتكون من 29 حرفا</li>
                            <li> وفريق ثالث يرى أن عدد حروفها 30 حرفا </li>
                        </ul>
                    </div>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        ومرد هذا الخلاف يعود إلى نظرة كلا منهم إلى تصنيف الأصوات المنطوقة، فالبعض يرى كل صوت منطوق من هذه الأصوات حرف قائم بذاته، بينما يرى آخرون أن بعض الحروف تنطق بطريقتين مختلفتين تبع لموقعها في الكلمة، أو لاستخدامها في حالة المفرد أو الجمع.
                    </p>
                    <a class="btn btn-default btn-auth wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #letters close -->
<!--
voice start
============================ -->
<section id="voice">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <span>نطق حروف الجبالية</span> :
                    </h1>

                    <div class="col-md-5 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" style="margin-left:auto;margin-right:auto;  text-align:right; float:left;">
                        <div class="videoWrapperOuter">
                            <div class="videoWrapperInner">
                                <iframe src="https://www.youtube.com/embed/9q6-jhoC67Y"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" style="margin-left:auto;margin-right:auto; text-align:right; float:right;">
                        <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" style="color:#000;text-align:right;">
                            <span style="color:#FF530A;font-weight:bold;">ملاحظات على حروف الجبالية  مع بعض الأمثلة</span> :<br />
                            <br />
                            سنورد فيما يلي ملاحظات خاطفة على كل حرف من حروف الجبالية، من حيث الاستخدامات الخاصة، وأمثلة على الكلمات التي تبدأ بهذا الحرف .

                        </p>
                        <ul class="list-group wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" style="color: #000; font-size:16px;">
                            <li class="list-group-item">
                                25 حرفا من حروف الجبالية يتوافق رسمها ولفظها مع رسم الحرف الفصيح ولفظه وهي  الحروف :
                                (  أ ب ت ث ج ح خ د ذ ر ز س ش ط ظ ع غ ف ك ل م ن و هـ ي ).
                            </li>
                            <li class="list-group-item">
                                3 حروف يتوافق رسمها مع رسم الحرف الفصيح لكن نطقها يختلف عن نطقها الفصيح كما ننطقها اليوم، وهي الحروف : (  ص ض ق ) في الجدول.
                            </li>
                            <li class="list-group-item">
                                5 حروف أضفنا إلى رسمها الفصيح نقاطا؛ لتمييزها عن حروف الفصيح، ونطقها في الجبالية مغاير تماما للفصيح، وهي أحرف خاصة باللسان الجبلي، وهي الحروف : (  چ ۺ ݜ ݠ ݪ ) في الجدول.

                            </li>


                        </ul>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;">
                    </div>
                    <a class="btn btn-default btn-auth wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #voice close -->
<!--
CONTACT US  start
============================= -->

<section id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> <span>إتصل بنا</span></h1>
                    <!--<h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Sign Up for <span>Email Alerts</span> </h3>-->
                    <form>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Write your full name here...">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                            <input type="text" class="form-control" placeholder="Write your email address here...">
                        </div>
                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                            <textarea class="form-control" rows="3" placeholder="Write your message here..."></textarea>
                        </div>
                    </form>
                    <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">إرسال الرسالة</a>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- #contact-us close -->
