<!--
about-us start
============================== -->

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block" style="text-align:right;" dir="rtl">
                    <!--<h2 class="heading2 wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" style="text-align:right;">
                        <span>لماذا الموقع</span>
                    </h2>-->
                    <!--<audio id="audio">
                        <source src="spa/client/public/sounds/10.mp3" type="audio/mpeg" />
                    </audio>

                    <img src="img/second/play.png" ng-click="playAudio()" ng-hide="!pause" alt="" id="s_play" class="animated bounceIn">
                    <img src="img/second/pause.png" ng-click="pauseAudio()" ng-hide="pause" alt="" id="s_play" class="animated bounceIn">-->
                    <h2 style="padding:2px;color:#FF530A;">
                        هذا المعجم 
                    </h2>
                    <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms" style="padding-top:0;padding-bottom:0;">

                        أنشأ موقع معجم لسان ظفار؛ لبيان مسائل هامة لم يتسع المعجم لبيان تفاصيلها ولزيادة الفائدة واستكمالا لمشروع المعجم؛ الذي هدف لتوثيق أكبر قدر من الموضوعات حول اللغة الجبالية. وقد حوا الموقع العديد من الموضوعات ذات الصلة من أهمها :
                    </p>
                    <ul class="dlst" style="list-style:none;padding:0;margin:0">
                        <li>
                            وصف ونطق حروف الجبالية بشكل صحيح؛ فبالرغم من أنني وصفت نطق هذه الحرف كتابة في الدراسة التمهيدية للمعجم إلا أني وجدت صعوبة في وصف نطق بعضها. فرأيت أن تسجيها وبثها صوتيا في الموقع أسهل وأنفع.

                        </li>
                        <li>
                            ملاحظات عامة على كل حرف من حروف هذه اللغة، وإيراد عدد من كلماتها مسجلة صوتيا؛ سواء التي تبدأ بالحرف، أو تحوي الحرف المقصود.

                        </li>
                        <li>
                            بيان أهمية الحركات (الضمة والفتحة والكسرة ...) في نطق الكلمة بصورة صحيحة، وقد أوردت في الموقع أمثلة صوتية مختصرة على ذلك.

                        </li>
                        <li>
                            أيراد بعض المواد السمعية والبصرية الخاصة بهذه اللغة
                        </li>
                    </ul>

                    <p>
                        كانت خطتي عند تخطيطي للشروع في بناء هذا المعجم؛ أن أرفق به قرصا مرنا ( cd )؛ أسجل عليه بعض المسائل الهامة؛ كالتي ذكرتها أعلاه، وبعد أن جهزت مادة القرص عدلت عن فكرة القرص واستبدلتها بهذا الموقع وذلك لتحقيق أكبر قدر من الفائدة والانتشار، ولتطوير الموضوع قدر الحاجة.

                    </p>

                    <!--<a class="btn btn-default btn-auth wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">مزيد من المعلومات</a>-->
                </div>
            </div><!-- .col-md-12 close -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card hovercard">
                            <div class="cardheader">
                            </div>
                            <div class="avatar">
                                <img alt="" src="spa/client/public/images/author2.png">
                            </div>
                            <div class="info">
                                <!--<div class="title">
                                    <h2>هذا المعجم </h2>
                                </div>-->
                                <div class="desc">معجم لسان ظفار أول معجم يوضع للغة الجبالية ولم يسبقه سوى معجم يتيم، وضعه البروفسور جنستون في بدايات ثمانينيات القرن الماضي باللغة الانجليزية لا يعلم بوجوده إلا قلة قليلة من أهل الاختصاص. </div>
                                <!--<div class="desc">
                                    والمعجم الذي بين يدينا ثمرة سنوات من العمل الشاق المتواصل، قادني لإنجازه ونشره الحاجة الماسة إليه؛ سواء من جمهور العامة، أو من الباحثين والدارسين والمهتمين، وقبل هؤلاء وأولئك أبناء هذه اللغة أنفسهم، الذين تقطعت بأجيالهم الجديدة السُبل في معرفة بناء مفرداتها، وفهم الكثير من كلماتها؛ لتعريب ألم بألسنتهم، وتغريب غازٍ يحاول طمس لغتهم وبلبُلة لسانهم.
                                </div>-->
                            </div>
                            <div class="bottom">
                                <a ui-sref="dic"><< المزيد</a>
                                <!--<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" rel="publisher"
                                   href="https://plus.google.com/+ahmshahnuralam">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="btn btn-primary btn-sm" rel="publisher"
                                   href="https://plus.google.com/shahnuralam">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                                    <i class="fa fa-behance"></i>
                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .containe close -->
    </div>
</section><!-- #call-to-action close -->