@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="LsDhapp">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Middle East Center</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="indexCtrl">

    <ui-view></ui-view>

    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
</body>
</html>
