
@{
    Layout = null;
}

<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="col-md-1">
                <img src="~/Content/images/booklog.png"  alt="Logo" style="margin-top: -110px;height:80px;background-color:#F2EFE1;">
            </div>
            <div class="col-md-11">
                <div class="block">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                @*<a class="navbar-brand" href="#">
                                    <img src="~/Content/images/booklog.png" style="height:26px;" alt="Logo">
                                </a>*@
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" id="top-nav">
                                    <li><a href="#contact-us">إتصل بنا</a></li>
                                    <li><a href="#blog">متابعات</a></li>
                                    <li><a href="#voice">نطق الحروف </a></li>
                                    <li><a href="#letters">حروف الجبالية</a></li>
                                    <li><a href="#blog">مستخلصات من المعجم</a></li>
                                    <li><a href="#blog">هذا المعجم</a></li>
                                    <li><a href="#blog">لماذا الموقع</a></li>
                                    <li><a href="#about-us">المؤلف</a></li>
                                    <li><a href="#hero-area">الرئيسية</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
                
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav>