
<style>
    .block p {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
    }

    .block ul.dlst li {
        padding-right: 20px;
        background-color: #f4ede3;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        padding: 3px;
    }
</style>
<section id="aboutSite">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <img class="img-responsive" src="spa/client/public/images/book.jpg" />
                </div>
                <div class="col-md-8 block">
                    <h3 style="background-color:antiquewhite;margin-bottom:20px;height:35px;padding:2px">
                        هذا المعجم :
                    </h3>
                    <p>
                        معجم لسان ظفار أول معجم يوضع للغة الجبالية ولم يسبقه سوى معجم يتيم، وضعه البروفسور جنستون في بدايات ثمانينيات القرن الماضي باللغة الانجليزية لا يعلم بوجوده إلا قلة قليلة من أهل الاختصاص.

                    </p>
                    <p>
                        والمعجم الذي بين يدينا ثمرة سنوات من العمل الشاق المتواصل، قادني لإنجازه ونشره الحاجة الماسة إليه؛ سواء من جمهور العامة، أو من الباحثين والدارسين والمهتمين، وقبل هؤلاء وأولئك أبناء هذه اللغة أنفسهم، الذين تقطعت بأجيالهم الجديدة السُبل في معرفة بناء مفرداتها، وفهم الكثير من كلماتها؛ لتعريب ألم بألسنتهم، وتغريب غازٍ يحاول طمس لغتهم وبلبُلة لسانهم.

                    </p>
                    <p>
                        اشتمل هذا المعجم على، مقدمة، وتمهيد، ومتن. حاولت في المقدمة أن أوضح أهمية المعجم، ومراحل انجازه، وبعض العقبات التي اعترضتني أثناء العمل.

                    </p>
                    <p>
                        أما التمهيد فقد ضمنته بعض المقدمات الضرورية التي رأيت أنها تساعد القارئ في فهم محتوى المعجم، والإحاطة الجيدة بالبيئة الطبيعية والسكانية للمنطقة؛ ومن أهم ما حواه التمهيد وضع رسم سهل ومبسط لأشكال الحروف، وشرح مبسط قدر الإمكان لطريقة النطق الصحيح لهذه الأحرف، كما أوردت فيه تحيلا لمسميات هذه اللغة، والآراء المتعددة حول هذا الموضوع، وعرجت على بعض الإشارات الواردة عن الجبالية في المصادر الإسلامية، وكثير من المعلومات العامة عن الوضع اللغوي للمنطقة وجغرافيتها وغير ذلك من المسائل الهامة الأخرى. وبالمجمل فالتمهيد يمثل (كتيب إرشادات) لفهم محتوى المعجم، والبيئة الطبيعية له.

                    </p>
                    <p>
                        أما متن المعجم (وهو لبه وغاية العمل عليه) فقد تضمن كلمات الجبالية التي استطعت تجميعها واستقصاءها، مرتبة ترتيبا هجائيا (من الألف إلى الياء). وقد عمدت إلى تقسيم هذا المتن إلى ما يشبه الفصول، كل حرف في فصل مستقل، وقد عمدت إلى اسلوب التشجير؛ مدخل ثلاثي أو رباعي أو خماسي (  بعد تجريد الكلمة من الزوائد ) وتحت كل مدخل الكلمة الجبالية وما يقابل معناها بالعربية الفصحى.

                    </p>
                    <p>
                        ولا يفوتني في هذه العجالة التذكير بأني حاولت قدر الاستطاعة أن يكون هذا المعجم موسوعة مصغرة عن المنطقة؛ حيث فصلت في شرح بعض المصطلحات والكلمات المتعلقة بالعادات والمعتقدات، وأساليب العيش، والمملكة الحيوانية والنباتية للمنطقة، لزيادة الفائدة، كل ذلك بأسلوب مختصر مركز، يتماشى مع الأسلوب المعجمي في الاختصار غير المخل، والتطويل غير الممل.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

