<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="AddConf">
                        إضافة مؤتمر
                    </a>
                </li>
                <li>
                    <a ui-sref="uploadImg">
                        إضافة صور
                    </a>
                </li>
                <li>
                    <a ui-sref="addConf">
                        إضافة ملفات المؤتمرات
                    </a>
                </li>

                <li>
                    <a ui-sref="addPost">
                        إضافة مقالة
                    </a>
                </li>
                <li>
                    <a ui-sref="addArticle">
                        المجموعات الإخبارية
                    </a>
                </li>


            </ul>

        </div>
    </div>
</div>