<!--footer starts ============================= -->

<style>
    .sit-info li {
        display: inline-block;
    }
</style>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block wow fadeInLeft" data-wow-delay="200ms">
                    <h3>معلومات <span>الإتصال</span></h3>
                    <div class="info">
                        <ul class="sit-info">
                            <li>
                                <h4><i class="fa fa-phone"></i>Telefone</h4>
                                <p>(000) 123 456 78- (000) 123 4567 89</p>

                            </li>
                            <li>
                                <h4><i class="fa fa-map-marker"></i>Address</h4>
                                <p>2046 Blue Spruce Lane Laurel Canada</p>
                            </li>
                            <li>
                                <h4><i class="fa fa-envelope"></i>E mail</h4>
                                <p>almashani2@gmail.com</p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
           
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
    </div><!-- .containe close -->
</section><!-- #footer close -->
<!--
footer-bottom  start
============================= -->
<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <p>Copyright &copy; 2017 - www.lissandhofar.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer close -->

