<!--
   header-img start
   ============================== -->
<section id="hero-area">
    <img class="img-responsive" src="Content/images/header2.jpg" alt="">
    <div class="block2">
        <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="Content/images/author2.png" alt="author-img">
        <h4 class="auth-block" d>
            <span>أ.أحمد محاد المعشني</span> <br/> المؤلف <span></span>
        </h4>

    </div>
</section>
<!--Header start============================== -->
<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <img src="Content/images/booklog.png" alt="Logo" style="float: left; margin-top:-18px;height:70px;">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <!--<a class="navbar-brand" href="#">
                                        <img src="~/Content/images/booklog.png" style="height:26px;" alt="Logo">
                                    </a>-->
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right" id="top-nav">
                                        <li><a href="#contact-us">إتصل بنا</a></li>
                                        <li><a href="#blog">متابعات</a></li>
                                        <li><a href="#voice">نطق الحروف </a></li>
                                        <li><a href="#letters">حروف الجبالية</a></li>
                                        <li><a href="#blog">مستخلصات من المعجم</a></li>
                                        <li><a href="#blog">هذا المعجم</a></li>
                                        <li><a href="#blog">لماذا الموقع</a></li>
                                        <li><a href="#about-us">المؤلف</a></li>
                                        <li><a href="#hero-area">الرئيسية</a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div>
</nav>
<!-- header close -->